<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% stylesheets filter="?uglifycss"  output="css/compiled_all.css"

        %}
        {#<link rel="stylesheet" href="{{ asset_url }}" />#}
        {% endstylesheets %}
{#        <link rel="stylesheet" href="{{ asset('css/compiled_all.css') }}" />#}

    </head>
    <body>

        {% block body %}
        {% endblock %}
        {% javascripts output="js/compiled1.js"

            filter='?uglifyjs2' %}
        {#<script src="{{ asset_url }}"></script>#}
        {% endjavascripts %}
{#        <script src="{{ asset('js/compiled1.js') }}"></script>#}

        {% block javascripts %}{% endblock %}
        {# ============================== *** FLASH MESSAGE HAKKINDA *** ====================================
       flash.error ,flash.success gibi değerler constants.yml içindeki twig globalsden geliyor.
       Flash message eklemek istediğimizde customControllerTrait içideki addFlash komutları kullanılır.
       Bu komutlar getParamters olarak flash tiplerine göre bir başma yapar
       AMAÇ: TÜM FLASH MESAJLARINI TEK BİR ÇATI ALTINDA TOPLAMAK VE TYPE ALİAS LARINI STANDART ŞEKLİLDE YAPMAK.
       ============================== FLASH MESSAGE HAKKINDA ====================================
   #}

        <h1>s</h1>
        <script>
            {% for label, messages in app.flashes %}
            {% for message in messages %}
            var msg = "{{ message|raw }}";
            {% if label == flash.error %}
            _kodpit.toast.error("Hata",msg);
            {% elseif  label == flash.success %}
            _kodpit.toast.success("Başarılı",msg);
            {% elseif  label == flash.info %}
            _kodpit.toast.info("İnfo",msg);
            {% elseif  label == flash.warning %}
            _kodpit.toast.warning("Uyarı",msg);
            {% else %}
            var label = "{{ label|raw }}";
            _kodpit.toast.custom(label,"Hata",msg);
            {% endif %}
            {% endfor %}
            {% endfor %}
        </script>
    </body>


</html>
